.title {
    display: flex;
    justify-content: center;
}

ul {
    background-color: blue;
}

li {
    text-decoration: none;
    list-style-type: none;
    margin-left: 13%;
    padding: 2%;
    color: white
}

.navbar {
    display: flex;
}